# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database
blog.db

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Git
.git/


# Flask DB
instance/
*.db


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS / Editor
.DS_Store
Thumbs.db

# Docker
*.log